* {
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background: rgba(0, 17, 93, 0.7);
}

body {
    padding-top: 50px;
  }

a {
    text-decoration: none;
    color: black;
}

a :hover {
    color: blueviolet;
}